
@import 'https://fonts.googleapis.com/css?family=Roboto:100,400';
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
header {
  padding:15px;
  width:100%;
  background-color:#001E8D;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  color:white;
  font-family: 'Roboto', sans-serif;
}
