
@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top:65px;
}
header {
  padding:15px;
  width:100%;
  height:65px;
  background-color:#001E8D;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-align:left;
  position:fixed;
  top:0;
  font-size:23px;
}
header > a {
  color:white;
  text-decoration:none;
}
header > a > #messageslink, #accountimgandname {
  font-size:13px;
}
footer {
  background-color:#001E8D;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:white;
  width:100%;
  padding:10px;
  text-align:center;
}
img {
  vertical-align:middle;
}
.larger {
  font-size:23px;
}
button {
  padding:10px;
  margin:10px;
  background-color:#001E8D;
  color:white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  border:none;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  cursor:pointer;
  text-transform:uppercase;
}
#messages > div {
  background-color:#ddd;
  border-bottom:1px solid black;
  padding:7px;
  cursor:pointer;
}
#messages > div:hover {
  background-color:#fff;
}
.bigMessage {
  position: fixed;
  top:70px;
  left:50px;
  right:50px;
  bottom:70px;
  background-color:#cccccc;
}
.fromEmail {
  color:#000;
}
.subjectPreview {
  color:#000;
}
.contentPreview {
  color:#999;
}
.emailDiv {
  border-bottom:1px solid black;
  padding:3px;
  padding-left:10px;
}
.subjectDiv {
  border-bottom:1px solid black;
  padding:10px
}
.contentDiv {
  padding:10px
}
.headerDiv {
  background-color:#001E4D;
  color:white;
  padding:13px;
}
.headerDiv > img {
  float:right;
  vertical-align:middle;
}
#new_message {
  background-color:#ccc;
  position:absolute;
  top:70px;
  bottom:70px;
  left:50px;
  right:50px;
  display:none;
}
#new_message > form > input {
  width:100%;
  border:none;
  margin:0;
  border-bottom:1px solid black;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  font-size:15px;
}
#new_message > form > textarea {
  border:none;
  margin:0;
  position:absolute;
  top:116px;
  width:100%;
  margin-left:0px;
  left:0px;
  bottom:10px;
  resize:none;
}
#message_email {
  padding:5px;
  padding-left:10px;
}
#subject {
  padding:10px;
}
#message_content {
  padding:10px;
  font-family: 'Roboto', sans-serif;
}
#submit {
  padding:10px;
  background-color:#001E4D;
  color:white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  border:none;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  cursor:pointer;
  text-transform:uppercase;
  position:absolute;
  left:0px;
  bottom:0px;
}
#message_header {
  padding:13px;
  background-color:#001E4D;
  color:white;
}
#message_header > img {
  float:right;
}
#second_toolbar {
  padding:15px;
  width:100%;
  height:95px;
  background-color:#001E7D;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-align:left;
  font-size:19px;
}
#second_toolbar > button {
  float:right;
  background-color:#eee;
  color:#001E8D;
}
#second_toolbar > button:hover {
  background-color:#fff;
}
